.background {
    background: url('../bgsample.jpeg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.bg {
    background-color: transparent;
}

.bg.white {
    background-color: white;
}

.bg.black {
    background-color: black;
}

.bg.blue {
    background-color:#0c2c6c;
}

.seperator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 6vw solid transparent;
}
.seperator-white {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13vw solid white;
    margin-top: -13vw;
    z-index: 1;
}
.seperator-black {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13vw solid black;
    margin-top: -13vw;
    z-index: 1;
}