.background {
    height: 100vh;
    position: relative;
    z-index: -1;
}

.background-image {
    height: 100vh;
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    /* This makes the image cover the entire container */
    filter: blur(0px);
}

.background-image.blur {
    filter: blur(3px);
}

.fixed-background {
    background: url('../bgsample2.jpg') no-repeat center;
    /* Replace with the path to your image */
    background-attachment: fixed;
    /* This is the magic that makes it stay put! */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from tiling */
    background-size: cover;
    /* Makes the image cover the entire background */
    height: 100%;
    /* Make sure the background covers the full screen */
    position: relative;
    /* Important for layering content on top */
    z-index: 0;
    /* Puts the background behind other content by default */
}

.bg {
    background-color: transparent;
}

.bg.white {
    background-color: white;
}

.bg.black {
    background-color: black;
}

.bg.blue {
    background-color: #0c2c6c;
}

.seperator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 6vw solid transparent;
}

.seperator-white {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13vw solid white;
    margin-top: -13vw;
    z-index: 1;
}

.seperator-black {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13vw solid black;
    margin-top: -13vw;
    z-index: 1;
}